<%= error_messages_for 'book' %>

<p><label for="book_title">Title</label><br/>
<%= text_field 'book', 'title'  %></p>
<p><label for="book_publisher">Publisher</label><br/>
<%= select :book, :publisher_id, @publishers.collect{ |p| [p.name, p.id] } %></p>
<% @authors.each do |author|  %>
   <%= check_box_tag 'book[author_ids][]', author.id, @book.authors.include?(author) %>
   <%= "#{author.first_name} #{author.last_name}" %><br/>
<% end %>

<%= file_field 'book', 'cover'  %>

