<h1>Editing book</h1>

<%= start_form_tag({:action => 'update', :id => @book}, {:multipart => true}) %> 
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @book %> |
<%= link_to 'Back', :action => 'list' %>
